
<div class="row item-wrp text-center">

    <div class="col-lg-12 text-center">
        <div class="item-content">
            <!--<div class="item-content--toggle-state">info</div>-->
            <div class="item-content--toggle-state">

                <img (mouseover)="showCloseBtn=true" *ngIf="!isImageMode" (click)="toggleImageMode();" class="item-content--toggle-state--img" src="../../Content/Images/close.ico" />
            </div>

            <img [src]="traverseItem.Image_Url" alt="" class="item-content--img" [@contentImageState]="contentImageState" (click)="toggleImageMode()" />
            <div [@contentTextState]="contentTextState" #content (mouseleave)="showCloseBtn=false" (mouseover)="showCloseBtn=true" class="item-content--card-text" [hidden]="isImageMode" [innerHtml]="traverseItem.Text|safeResource:0"></div>
        </div>

        <div (click)="toggleImageMode();" class="item-caption pointer" [innerHtml]="traverseItem.Title|safeResource:0"></div>

    </div>

</div>



<div [style.display]="modalState" [@modalState]="modalState" data-backdrop="false" class="modal" [id]="'myModal'+traverseItem.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="toggleModalState('none')" type="button" class="close" aria-label="Close">

                    <img src="../../Content/Images/close.ico" />
                </button>
                <h4 class="modal-title text-center" id="myModalLabel" [innerHtml]="traverseItem.Title|safeResource:0"></h4>
            </div>
            <div class="modal-body" [innerHtml]="traverseItem.Text|safeResource:0">

            </div>

        </div>
    </div>
    <div class="modal-feature"><iframe width="560" height="315" src="https://www.youtube.com/embed/ss7EJ-PW2Uk" frameborder="0" allowfullscreen></iframe> </div>
</div>