<product-page-caption [product]="'Toddlers lamps'"></product-page-caption>

<div class="row">
    <div class="col-xs-12">
        <p>{{'Click on item to select/deselect item'|translate}}</p>
    </div>

</div>
<div class="row">
    <div class="col-sm-6 text-center">
        <label>

            <img [class.selected]="isSelected(1)" (click)="onClick(1)" src="http://www.nemashim-baby.com/media/catalog/product/cache/1/image/800x800/e77df092ee0522f8e5b4f37f4cbc8c3c/b/u/bunting_1.jpg" class="img-responsive" alt="Responsive image" align="top" />{{'Toddlers activity pallet'|translate}}

        </label>
    </div>
    <div class="col-sm-6  text-center">
        <label>

            <img [class.selected]="isSelected(2)" (click)="onClick(2)" src="http://www.nemashim-baby.com/media/catalog/product/cache/1/image/800x800/e77df092ee0522f8e5b4f37f4cbc8c3c/b/u/bunting_1.jpg" class="img-responsive" alt="Responsive image" align="top" />{{'Toddlers activity pallet'|translate}}
            h
        </label>
    </div>
</div>
<div class="row text-center  text-center">
    <label>

        <img [class.selected]="isSelected(3)" (click)="onClick(3)" src="http://www.nemashim-baby.com/media/catalog/product/cache/1/image/800x800/e77df092ee0522f8e5b4f37f4cbc8c3c/b/u/bunting_1.jpg" class="img-responsive" alt="Responsive image" align="top" />{{'Toddlers activity pallet'|translate}}

    </label>
</div>