


<ng-container *ngIf="showTrio">
    <div class="row" *ngFor="let trio of trios">
        <traverse-item [traverseItem]="traverseItem" *ngFor="let traverseItem of trio" class="col-xs-4 text-center"></traverse-item>
    </div>
</ng-container>
<ng-container *ngIf="showDuo">
    <div class="row" *ngFor="let dou of dous">
        <traverse-item [traverseItem]="traverseItem" *ngFor="let traverseItem of dou" class="col-xs-6 text-center"></traverse-item>
    </div>
</ng-container>
<ng-container *ngIf="showOne">
    <div class="row" *ngFor="let traverseItem of traverseItems">
        <traverse-item [traverseItem]="traverseItem" class="col-xs-12 text-center"></traverse-item>
    </div>
</ng-container>

