<div class="row">
    <div class="col-sm-4 col-xs-12">
        <div class="row">
            <div class="col-xs-12 text-center">
                <label>
                    <a routerLink="../pallet" routerLinkActive="active">
                        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRFmNggfXQ8yS6PA11_ybWVbAhLpsG9YvERU-bANB4vBtLzCjwO" class="img-responsive" alt="Responsive image" align="top">{{'Toddlers activity pallet'|translate}}
                    </a>
                </label>
            </div>

        </div>


    </div>
    <div class="col-sm-4 col-xs-12">
        <div class="row">
            <div class="col-xs-12 text-center">
                <label>
                    <a routerLink="../books" routerLinkActive="active">
                        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRFmNggfXQ8yS6PA11_ybWVbAhLpsG9YvERU-bANB4vBtLzCjwO" class="img-responsive" alt="Responsive image" align="top">{{'Toddlers activity books'|translate}}
                    </a>
                </label>
            </div>
        </div>


    </div>
    <div class="col-sm-4 col-xs-12">
        <div class="row hand-cursor">
            <div class="col-xs-12 text-center">
                <label>
                    <a routerLink="../lamps" routerLinkActive="active">
                        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRFmNggfXQ8yS6PA11_ybWVbAhLpsG9YvERU-bANB4vBtLzCjwO" class="img-responsive" alt="Responsive image" align="top">{{'Toddlers lamps'|translate}}
                    </a>
                </label>
            </div>
            <div class="col-xs-12 text-center"></div>
        </div>


    </div>

</div>
<div class="row">
    <div class="col-sm-6 col-xs-12">
        <div class="row hand-cursor">
            <div class="col-xs-12 text-center">
                <label>
                    <a routerLink="../bags" routerLinkActive="active">
                        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRFmNggfXQ8yS6PA11_ybWVbAhLpsG9YvERU-bANB4vBtLzCjwO" class="img-responsive" alt="Responsive image" align="top">{{'Toddlers bags'|translate}}
                    </a>
                </label>
            </div>

        </div>


    </div>
    <div class="col-sm-6 col-xs-12">
        <div class="row hand-cursor">
            <div class="col-xs-12 text-center">
                <label>
                    <a routerLink="../cushions" routerLinkActive="active">
                        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRFmNggfXQ8yS6PA11_ybWVbAhLpsG9YvERU-bANB4vBtLzCjwO" class="img-responsive" alt="Responsive image" align="top">{{'Toddlers cushions'|translate}}
                    </a>
                </label>
            </div>

        </div>


    </div>
</div>



