<!--<header-image [pageName]="'contact'">loading...</header-image>-->
<div class="white-panel contact-form">
  <div [hidden]="submitted">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <input [disabled]="isSubmitting" type="text" class="form-control form-field input-lg"
               formControlName="name" name="name"
               placeholder="{{'Name'|translate}}"/>
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
        >
          <div *ngIf="name.errors.required">
              <span class="label-warning">
           invalid name
          </span>

          </div>
          <div *ngIf="name.errors.minlength">
              <span class="label-warning">
         Name must be at least 4 characters long
          </span>

          </div>
        </div>
      </div>

      <div class="form-group">

        <input forbiddenName [disabled]="isSubmitting" type="email" class="form-control form-field input-lg" required
               formControlName="email" name="email" placeholder="{{'Email'|translate}}">
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
          <span class="label-warning">
             invalid email
          </span>

        </div>

      </div>
      <div class="form-group">
                <textarea rows="8" [disabled]="isSubmitting" class="form-control input-lg" required
                          formControlName="content" name="content"
                          placeholder="{{'Content'|translate}}"></textarea>
        <div *ngIf="content.invalid && (content.dirty || content.touched)">
          <span class="label-warning">
              Content must be at least 10 characters long
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" [ngClass]="{'text-right':isEng,'text-left':isHeb}">
          <button type="submit" class="btn btn-info" [disabled]="isSubmitting||!contactForm.valid">
            {{'Submit'|translate}}
          </button>

        </div>
      </div>
      <span class="alert alert-danger" [hidden]="!displaySubmitError || isSubmitting">message not sent - plz try again later</span>
    </form>
  </div>
</div>
