<product-page-caption [product]="'Toddlers activity pallet'"></product-page-caption>

<div class="row">
    <div class="col-xs-12">
        <p>{{'Must select at leat 4 items (click om item to select/deselect item)'|translate}}</p>
        <p>{{'Click on item to select/deselect item'|translate}}</p>
    </div>

</div>
<div class="row">
    <div class="col-sm-4 text-center">
        <label>
            <img [class.selected]="isSelected(1)" (click)="onClick(1)" src="http://d2ydh70d4b5xgv.cloudfront.net/images/2/d/swingball-base-all-surface-steel-tube-construction-outdoor-kids-activity-game-f9b0dd2c2f2c96d490539a707253d18d.jpg" class="img-responsive" alt="Responsive image" align="top">{{'Toddlers activity pallet'|translate}}
        </label>
    </div>
    <div class="col-sm-4 text-center">
        <label>

            <img [class.selected]="isSelected(2)" (click)="onClick(2)" src="http://d2ydh70d4b5xgv.cloudfront.net/images/2/d/swingball-base-all-surface-steel-tube-construction-outdoor-kids-activity-game-f9b0dd2c2f2c96d490539a707253d18d.jpg" class="img-responsive" alt="Responsive image" align="top">{{'Toddlers activity pallet'|translate}}
        </label>
    </div>
    <div class="col-sm-4 text-center">
        <label>

            <img [class.selected]="isSelected(3)" (click)="onClick(3)" src="http://d2ydh70d4b5xgv.cloudfront.net/images/2/d/swingball-base-all-surface-steel-tube-construction-outdoor-kids-activity-game-f9b0dd2c2f2c96d490539a707253d18d.jpg" class="img-responsive" alt="Responsive image" align="top">{{'Toddlers activity pallet'|translate}}
        </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 text-center">
        <label>

            <img [class.selected]="isSelected(4)" (click)="onClick(4)" src="http://d2ydh70d4b5xgv.cloudfront.net/images/2/d/swingball-base-all-surface-steel-tube-construction-outdoor-kids-activity-game-f9b0dd2c2f2c96d490539a707253d18d.jpg" class="img-responsive" alt="Responsive image" align="top" />{{'Toddlers activity pallet'|translate}}

        </label>
    </div>
    <div class="col-sm-4 text-center">
        <label>

            <img [class.selected]="isSelected(5)" (click)="onClick(5)" src="http://d2ydh70d4b5xgv.cloudfront.net/images/2/d/swingball-base-all-surface-steel-tube-construction-outdoor-kids-activity-game-f9b0dd2c2f2c96d490539a707253d18d.jpg" class="img-responsive" alt="Responsive image" align="top" />{{'Toddlers activity pallet'|translate}}
        </label>
    </div>
    <div class="col-sm-4 text-center">
        <label>

            <img [class.selected]="isSelected(6)" (click)="onClick(6)" src="http://d2ydh70d4b5xgv.cloudfront.net/images/2/d/swingball-base-all-surface-steel-tube-construction-outdoor-kids-activity-game-f9b0dd2c2f2c96d490539a707253d18d.jpg" class="img-responsive" alt="Responsive image" align="top" />{{'Toddlers activity pallet'|translate}}
        </label>
    </div>
</div>
