.hand-cursor {
    cursor: pointer;
}

label {
    cursor: pointer;
}

img {
    height: 300px;
    border: none;
    transition-property: border;
    transition-duration: 0.5s;
}

.selected {
    transition-property: border;
    transition-duration: 0.5s;
    opacity: 1 !important;
    border-width: thick;
    border-color: green;
    border-style: solid;
    border-radius: 15px;
}
