<div [dir]="dir">
    <div class="container-fluid">
        <header-image [pageName]="'home'">
        </header-image>
        <div class="down-arrow">
            <div class="down-arrow--inner"></div>
           <!-- <br />-->
            <div class="down-arrow--inner down-arrow--inner--bottom"></div>
        </div>
    </div>








    <div class="container-fluid">
        <router-outlet></router-outlet>

    </div>



    <footer id="footer">
        <div class="container-fluid">
            <div class="row footer-row text-center">
                <div class="col-xs-12 col-sm-3">
                    <a class="h5" href="mailto:noyaschleien@gmail.com">noyaschleien@gmail.com</a>
                </div>
                <div class="col-sm-7"></div>
                <div class="col-xs-12 col-sm-2">
                    <button (click)="goToContact()" class="btn btn-primary">{{'Order Concert'|translate}}</button>
                </div>
                <hr class="dl-horizontal" />
                <div class="col-sm-12 hidden-xs">
                    <span>Noya Schleien@2013</span>
                    <span>|</span>
                    <span>Developed by</span>
                    <a>Future WebSites</a>
                </div>
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                    <span>Noya Schleien@2013</span>
                </div>
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                    <span>Developed by</span>
                    <a>Future WebSites</a>
                </div>

            </div>
        </div>




    </footer>
</div>


<!--<galilu-link></galilu-link>-->
